<div class="fullscreen-bg">
    <video loop muted autoplay poster="./pictures/icon-bandcamp-copy.png" class="fullscreen-bg__video">
      <!-- ADD A 4 TO MAKE VIDEO WORK -->
        <source src="./pictures/vidForApsSite.mp4" type="video/mp4">
    </video>
  </div>


<div class = "onVideo">
<h1 class="liveNew">LIVE ON NEW YEAR'S EVE</h1>
<h1 class="comingSoon">COMING SOON</h1>
</div>



<div class="bottom">
<img class="colorBar" src = "./pictures/color-bar-flipped.png" alt='bar'>
<!-- <img class="bottomPic" src = "./pictures/bottom.jpg" alt="BAND PICTURE"> -->

<div class="homeBottom">
<h1>LATEST RELEASE</h1>

<!-- <div class="whiteOverlay"> -->
<span class="flexExp whiteOverlay">
  <img class="homeAlbum" src="./pictures/southbound.jpg">
  <div>Southbound
  <div class="download">
    <h3><a class="sbDwn" href="https://apsmusic.bandcamp.com/album/southbound" target="_blank">CLICK HERE TO DOWNLOAD</a></h3>
  </div>
</div>
</span>
<!-- </div> -->
</div>
</div>
