<div class = "musicHead">
  <h1>SHOWS</h1>
</div>


<h3 class="showsTitle">Upcoming Shows</h3>

<div class="whiteShowBackground">
<div class="upcomingShows">NO UPCOMING SHOWS
<span><img class="frowny" src="./pictures/frownFace.png"></span>
</div>
</div>

<h3 class="showsTitle">Past Shows</h3>

<div class="forFlex">
<div ng-repeat="shows in forHtml">

<div class="viewBackground">
<span class="showDate">{{shows.date}}</span>
<span class="venueName">{{shows.venue}}</span>
<span><a class="cityName" ui-sref="weather({zip: shows.zip})">{{shows.city}}</a></span>
</div>

</div>
</div>
